<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminCalendarDao">

	<!-- 추천일 등록 -->
	<insert id="insertDate" parameterType="seulgi.dto.AdminCalendar">
		INSERT INTO admin_calendar(recom_code, recom_date, recom_time, recom_loc)
		VALUES (admin_calendar_seq.nextval, #{recomDate }, #{recomTime }, #{recomLoc })
	</insert>
	
</mapper>