<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminProductDao">

	<!-- 상품 리스트 -->
	<select id="selectAll" resultType="seulgi.dto.AdminProduct">
		SELECT * FROM (
			SELECT rownum rnum, G.* FROM (
				SELECT * FROM goods
				ORDER BY g_id desc
			) G
		) goods
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select> 
	
	<!-- <select id="selectAll" resultType="seulgi.dto.AdminProduct">
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_id DESC
	        ) t
	    ) GOODS
    </select> -->
	
	<!-- 상품 개수 조회 -->
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM goods
	</select>
	
	<!-- 상품 상세 조회 -->
	<select id="selectProd" resultType="seulgi.dto.AdminProduct" parameterType="seulgi.dto.AdminProduct">
		SELECT * FROM goods
		WHERE g_id = #{gId }
	</select>
	
	<select id="selectProd2" resultType="seulgi.dto.AdminProduct" parameterType="seulgi.dto.AdminGoodsReview">
		SELECT * FROM goods
		WHERE g_id = #{gId }
	</select>

	<!-- 상품 업로드 -->
	<insert id="insertProd" parameterType="seulgi.dto.AdminProduct">
		<selectKey order="BEFORE" resultType="int" keyProperty="gId">
			SELECT goods_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO goods (g_id, g_name, g_price, g_detail)
		VALUES (#{gId }, #{gName }, #{gPrice }, #{gDetail })
	</insert>
	
	<!-- 파일 업로드 -->
	<insert id="insertFile" parameterType="seulgi.dto.AdminProductFile">
		INSERT INTO goods_img ( img_id, g_id, file_name)
		VALUES ( goods_img_seq.nextval, #{gId }, #{fileName })
	</insert>

	<!-- 파일 조회 -->
	<select id="selectImageFile" resultType="seulgi.dto.AdminProductFile" parameterType="seulgi.dto.AdminProduct">
		SELECT * FROM goods_img
		WHERE g_id = #{gId }
	</select>
	
	<select id="selectImageFile2" resultType="seulgi.dto.AdminProductFile" parameterType="seulgi.dto.AdminGoodsReview">
		SELECT * FROM goods_img
		WHERE g_id = #{gId }
	</select>
	
	<!-- <select id="selectFile" resultType="seulgi.dto.AdminProductFile" parameterType="int">
		SELECT g.*, r.*
 		FROM goods_img g
        LEFT OUTER JOIN review r
           ON g.g_id = r.g_id
		WHERE g.g_id = #{gId }
	</select> -->
	
	<!-- 상품 수정 -->
	<update id="updateProd" parameterType="seulgi.dto.AdminProduct">
		UPDATE goods
		SET g_name = #{gName }
			, g_price = #{gPrice }
			, g_detail = #{gDetail }
		WHERE g_id = #{gId }
	</update>

	<!-- 상품 삭제 -->
	<delete id="deleteProd" parameterType="seulgi.dto.AdminProduct">
		DELETE goods
		WHERE g_id = #{gId }
	</delete>
	
	<!-- 파일 삭제 -->
	<delete id="deleteFile" parameterType="seulgi.dto.AdminProduct">
		DELETE goods_img
		WHERE g_id = #{gId }	
	</delete>
	
	<delete id="deleteFile2" parameterType="seulgi.dto.AdminGoodsReview">
		DELETE goods_img
		WHERE g_id = #{gId }	
	</delete>
	
	<!-- 상품 검색 -->
	<select id="searchProd" resultType="seulgi.dto.AdminProduct" parameterType="String">
		<![CDATA[
		SELECT * FROM goods
		WHERE g_name LIKE '%'||#{g_name }||'%'
		ORDER BY g_id DESC
		]]>
	</select>
	
</mapper>