<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminReportDao">

	<!-- 게시글 리스트 -->
	<select id="selectAll" resultType="seulgi.dto.AdminReport">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT * FROM admin_board_report
				ORDER BY report_code DESC
			) A
		) admin_board_report
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int">
		select count(*) from admin_board_report
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="selectAll2" resultType="seulgi.dto.AdminReport">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT * FROM admin_comment_report
				ORDER BY report_code DESC
			) A
		) admin_comment_report
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll2" resultType="int">
		select count(*) from admin_comment_report
	</select>
	
	<!-- 게시글 삭제 -->
	<!-- 댓글 삭제 -->
	
</mapper>