<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminCommentDao">

	<!-- 댓글 리스트 -->
	<select id="selectAll" resultType="seulgi.dto.AdminComment">
		SELECT * FROM (
			SELECT rownum rnum, G.* FROM (
				SELECT * FROM g_comment
				ORDER BY cm_no DESC
			) G
		) g_comment
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<!-- 댓글 개수 조회 -->
	<select id="selectCntAll" resultType="int">
		select count(*) from g_comment
	</select>
	
	<!-- 게시글에서 댓글 조회 -->
	<select id="selectComment" resultType="seulgi.dto.AdminComment" parameterType="seulgi.dto.AdminGallery">
		SELECT * FROM g_comment
		WHERE gallery_no = #{galleryNo }
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="seulgi.dto.AdminComment">
		DELETE g_comment
		WHERE cm_no = #{cmNo }
	</delete>
	
	<!-- 댓글 검색 -->
	<select id="searchBoard" resultType="seulgi.dto.AdminComment" parameterType="String">
		<![CDATA[
		SELECT * FROM g_comment
		WHERE u_id LIKE '%'||#{uId }||'%'
		ORDER BY cm_no DESC
		]]>
	</select>
	
	<!-- 댓글 신고 -->
	<insert id="insertBoard" parameterType="seulgi.dto.AdminComment">
		INSERT INTO admin_comment_report (report_code, cm_no)
		VALUES (acr_seq.nextval, #{cmNo })
	</insert>
	
</mapper>