<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminPlaceReviewDao">
	
	<!-- 게시글 리스트 -->
	<select id="selectAll" resultType="seulgi.dto.AdminPlaceReview">
		SELECT * FROM (
			SELECT rownum rnum, P.* FROM (
				SELECT * FROM place_review
				ORDER BY sreview_no DESC
			) P
		) place_review
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<!-- 게시글 개수 조회 -->
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM place_review
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" resultType="seulgi.dto.AdminPlaceReview" parameterType="seulgi.dto.AdminPlaceReview">
		SELECT p.*, u.u_id, u.u_nick
 		FROM place_review p
        LEFT OUTER JOIN users u
           ON p.u_id = u.u_id
		WHERE sreview_no = #{sreviewNo }
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="seulgi.dto.AdminPlaceReview">
		DELETE place_review
		WHERE sreview_no = #{sreviewNo }
	</delete>
	
	<!-- 게시글 검색 -->
	<select id="searchBoard" resultType="seulgi.dto.AdminPlaceReview" parameterType="String">
		<![CDATA[
		SELECT * FROM place_review
        WHERE u_id LIKE '%'||#{uId }||'%'
		ORDER BY sreview_no DESC
		]]>
	</select>
	
</mapper>