<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seulgi.dao.face.AdminProductDao">

	<select id="selectAll" resultType="seulgi.dto.AdminProduct">
		SELECT * FROM (
			SELECT rownum rnum, G.* FROM (
				SELECT * FROM goods
				ORDER BY g_id desc
			) G
		) goods
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM goods
	</select>
	
	<select id="selectProd" resultType="seulgi.dto.AdminProduct" parameterType="seulgi.dto.AdminProduct">
		SELECT * FROM goods
		WHERE g_id = #{gId }
	</select>

	<insert id="insertProd" parameterType="seulgi.dto.AdminProduct">
		<selectKey order="BEFORE" resultType="int" keyProperty="gId">
			SELECT goods_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO goods (g_id, g_name, g_price, g_detail)
		VALUES (#{gId }, #{gName }, #{gPrice }, #{gDetail })
	</insert>
	
	<insert id="insertFile" parameterType="seulgi.dto.AdminProductFile">
		INSERT INTO goods_img ( img_id, g_id, file_name)
		VALUES ( goods_img_seq.nextval, #{gId }, #{fileName })
	</insert>

	<select id="selectImageFile" resultType="seulgi.dto.AdminProductFile" parameterType="seulgi.dto.AdminProduct">
		SELECT * FROM goods_img
		WHERE g_id = #{gId }
	</select>
	
	<update id="updateProd" parameterType="seulgi.dto.AdminProduct">
		UPDATE goods
		SET g_name = #{gName }
			, g_price = #{gPrice }
			, g_detail = #{gDetail }
		WHERE g_id = #{gId }
	</update>

	<delete id="deleteFile" parameterType="seulgi.dto.AdminProduct">
		DELETE goods_img
		WHERE g_id = #{gId }	
	</delete>
	
	<delete id="delete" parameterType="seulgi.dto.AdminProduct">
		DELETE goods
		WHERE g_id = #{gId }
	</delete>
	
</mapper>