<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="yewon.dao.face.GoodsDao">
    
<!--     <resultMap type="yewon.dto.Goods" id="Goods"> -->
<!--     <id column="g_id" property="gId" /> -->
<!--     <result column="g_name" property="gName" /> -->
<!--     <result column="g_price" property="gPrice" /> -->
<!--     <result column="file_name" property="fileName" /> -->
<!--     </resultMap> -->
    
    
    <select id="selectAllGoods" resultType="Goods">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_id ASC
	        ) t
	    ) GOODS
	    WHERE rnum <= 8
    ]]>
    </select>

	<select id="selectCntAll" resultType="int">
	SELECT count(*) FROM goods
	</select>

<!--     총 상품개수(totalCount). 한번에 보여질 상품개수(step). 시작번호(startIdx). 끝번호(endIdx)-->
    <select id="selectMoreGoods" resultType="Goods" parameterType="map">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_id ASC
	        ) t
	    ) GOODS
	    WHERE rnum BETWEEN #{startIdx} AND #{endIdx}
    ]]>
    </select>

	<select id="selectByLowPrice" resultType="Goods">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_price ASC
	        ) t
	    ) GOODS
	    WHERE rnum <= 8
    ]]>
	</select>

    <select id="lowPriceMore" resultType="Goods" parameterType="map">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_price ASC
	        ) t
	    ) GOODS
	    WHERE rnum BETWEEN #{startIdx} AND #{endIdx} + #{step}
    ]]>
    </select>
	
	<select id="selectByHighPrice" resultType="Goods">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_price DESC
	        ) t
	    ) GOODS
	    WHERE rnum <= 8
    ]]>
	</select>

    <select id="highPriceMore" resultType="Goods" parameterType="map">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.g_price DESC
	        ) t
	    ) GOODS
	    WHERE rnum BETWEEN #{startIdx} AND #{endIdx}
    ]]>
    </select>
    
	<select id="selectByDate" resultType="Goods">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.reg_date DESC
	        ) t
	    ) GOODS
	    WHERE rnum <= 8
    ]]>
	</select>

    <select id="latestMore" resultType="Goods" parameterType="map">
    <![CDATA[
	SELECT * FROM (
	    SELECT ROWNUM rnum, t.* FROM (
	      SELECT g.*, i.file_name 
	    	FROM goods g, goods_img i
		    	WHERE g.g_id = i.g_id
		    	AND i.file_type = 'main_img'
		   		ORDER BY g.reg_date DESC
	        ) t
	    ) GOODS
	    WHERE rnum BETWEEN #{startIdx} AND #{endIdx}
    ]]>
    </select>
    
    <select id="selectGoods" resultType="Goods" parameterType="map">
    SELECT g.*, i.file_name 
    	FROM goods g, goods_img i
	    	WHERE g.g_id = i.g_id
	    	AND i.file_type = 'main_img'
    		AND g.g_id = #{gId }
    </select>
    
    <select id="selectLikeCnt" resultType="int" parameterType="map">
	   	select NVL(like_cnt, 0) as likeCnt from goods
	   	where g_id = #{gId }
    </select>

    </mapper>

