<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="hyeri.dao.face.GalleryDao">

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM gallery
	</select>
	
	<select id="selectList" resultType="hyeri.dto.Gallery" parameterType="hyeri.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, gu.* FROM (
		        SELECT
		            g.gallery_no, g.gallery_title, g.gallery_content,
		            g.gallery_date, g.gallery_like, g.gallery_loc,
		            g.gallery_hit, g.u_id AS guid, u.u_id AS uuid, u.u_nick
		        FROM gallery g
		        INNER JOIN users u
		        ON g.u_id = u.u_id
		        ORDER BY g.gallery_no DESC
			)gu
		)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<update id="updateHit" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET gallery_hit = gallery_hit + 1
		WHERE gallery_no = #{galleryNo}
	</update>
	
	<select id="selectGallery" resultType="hyeri.dto.Gallery" parameterType="hyeri.dto.Gallery">
		SELECT
            g.gallery_no, g.gallery_title, g.gallery_content,
            g.gallery_date, g.gallery_like, g.gallery_loc,
            g.gallery_hit, g.u_id AS guid, u.u_id AS uuid, u.u_nick
        FROM gallery g
        INNER JOIN users u
        ON g.u_id = u.u_id
		WHERE gallery_no = #{galleryNo}
        ORDER BY g.gallery_no DESC
	</select>

	<insert id="uploadPhoto" parameterType="hyeri.dto.Gallery">
		<selectKey order="BEFORE" resultType="int" keyProperty="galleryNo">
			SELECT gallery_seq.nextval FROM dual
		</selectKey>
		INSERT INTO gallery ( 
			gallery_no, gallery_title, gallery_content, gallery_loc, u_id)
		VALUES ( #{galleryNo}, #{galleryTitle }, #{galleryContent }, #{galleryLoc }, #{uId })
	</insert>
	
	<insert id="insertPhoto" parameterType="hyeri.dto.GalleryFile">
		<selectKey order="BEFORE" resultType="int" keyProperty="photoNo">
			SELECT gallery_file_seq.nextval FROM dual
		</selectKey>
		INSERT INTO gallery_file ( photo_no, gallery_no, stored_name, origin_name, filepath )
		VALUES ( #{photoNo }, #{galleryNo }, #{storedName }, #{originName }, #{filepath })
	</insert>

	<select id="selectGalleryFileByGalleryNo" resultType="hyeri.dto.GalleryFile" parameterType="hyeri.dto.Gallery">
		SELECT 
			photo_no, gallery_no, stored_name, origin_name
		FROM gallery_file
		WHERE gallery_no = #{galleryNo }
	</select>
	
	<update id="updatePhoto" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET gallery_title = #{galleryTitle }
			, gallery_content = #{galleryContent }
		WHERE gallery_no = #{galleryNo }
	</update>
	
	<delete id="deleteFile" parameterType="hyeri.dto.GalleryFile">
		DELETE gallery_file
		WHERE gallery_no = #{galleryNo }
	</delete>
	
	<delete id="delete" parameterType="hyeri.dto.Gallery">
		DELETE gallery
		WHERE gallery_no = #{galleryNo }
	</delete>
	
	<insert id="insertTag" parameterType="hyeri.dto.GTag">
		INSERT INTO g_tag ( tag_no, tag_name )
		VALUES ( g_tag_seq.nextval, #{tagName } )
	</insert>

	<select id="selectByKeyword" resultType="hyeri.dto.Gallery" parameterType="String">
		SELECT * FROM gallery
		WHERE gallery_title LIKE #{keywordInput }
			or gallery_content LIKE #{keywordInput }
		ORDER BY gallery_no DESC
	</select>

</mapper>