<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="hyeri.dao.face.GalleryDao">

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM gallery
	</select>
	
	<select id="selectList" resultType="hyeri.dto.Gallery" parameterType="hyeri.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, gu.* FROM (
		        SELECT
		            g.gallery_no, g.gallery_title, g.gallery_content,
		            g.gallery_date, g.gallery_like, g.gallery_loc,
		            g.gallery_hit, g.comment_cnt, g.stored_name, g.u_id AS guid, u.u_id AS uuid, u.u_nick
		        FROM gallery g
		        INNER JOIN users u
		        ON g.u_id = u.u_id
		        ORDER BY g.gallery_no DESC
			)gu
		)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<update id="updateHit" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET gallery_hit = gallery_hit + 1
		WHERE gallery_no = #{galleryNo}
	</update>
	
	<update id="updateCm" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET comment_cnt = (SELECT count(cm_no) FROM g_comment
		WHERE gallery.gallery_no = g_comment.gallery_no)
	</update>	
	
	<select id="selectGallery" resultType="hyeri.dto.Gallery" parameterType="hyeri.dto.Gallery">
		SELECT
           g.gallery_no, g.gallery_title, g.gallery_content, g.gallery_date
           , g.gallery_loc, g.comment_cnt, g.u_id, g.stored_name, u.u_nick
        FROM gallery g
        INNER JOIN users u
        ON g.u_id = u.u_id
		WHERE gallery_no = #{galleryNo}
	</select>



	<!-- 게시글 작성 -->
	<insert id="uploadPhoto" parameterType="hyeri.dto.Gallery">
		<selectKey order="BEFORE" resultType="int" keyProperty="galleryNo">
			SELECT gallery_seq.nextval FROM dual
		</selectKey>
		INSERT INTO gallery ( 
			gallery_no, gallery_title, gallery_content, gallery_loc, u_id, u_nick)
		VALUES ( #{galleryNo }, #{galleryTitle }, #{galleryContent }, #{galleryLoc }, #{uId }, #{uNick } )
	</insert>
	
	<!-- 게시글 작성 시 사진 추가 -->
	<insert id="insertPhoto" parameterType="hyeri.dto.GalleryFile">
		<selectKey order="BEFORE" resultType="int" keyProperty="photoNo">
			SELECT gallery_file_seq.nextval FROM dual
		</selectKey>
		INSERT INTO gallery_file ( photo_no, gallery_no, stored_name, origin_name, filepath )
		VALUES ( #{photoNo }, #{galleryNo }, #{storedName }, #{originName }, #{filepath })
	</insert>
	
	<!-- 게시글 작성 시 태그 추가 -->
	<insert id="insertTag" parameterType="java.util.List">
		INSERT INTO g_tag ( tag_no, tag_name, gallery_no )
		SELECT g_tag_seq.nextval, data.* FROM (
		<foreach item="item" collection="list" separator="UNION ALL">
			SELECT #{item.tagName }, #{item.galleryNo } FROM DUAL
		</foreach>
		) data
	</insert>
	
	<update id="updateFilepath" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET stored_name = (SELECT stored_name FROM gallery_file
		WHERE gallery.gallery_no = gallery_file.gallery_no)
	</update>

	<select id="selectGalleryFileByGalleryNo" resultType="hyeri.dto.GalleryFile" parameterType="hyeri.dto.Gallery">
		SELECT 
			photo_no, gallery_no, stored_name, origin_name
		FROM gallery_file
		WHERE gallery_no = #{galleryNo }
	</select>
	
	<update id="updatePhoto" parameterType="hyeri.dto.Gallery">
		UPDATE gallery
		SET gallery_title = #{galleryTitle }
			, gallery_content = #{galleryContent }
		WHERE gallery_no = #{galleryNo }
	</update>
	
	<delete id="deleteFile" parameterType="hyeri.dto.Gallery">
		DELETE gallery_file
		WHERE gallery_no = #{galleryNo }
	</delete>
	
	<delete id="deleteTag" parameterType="hyeri.dto.Gallery">
		DELETE g_tag
		WHERE gallery_no = #{galleryNo }
	</delete>
	
	<delete id="deleteComment" parameterType="hyeri.dto.Gallery">
		DELETE g_comment
		WHERE gallery_no = #{galleryNo }
	</delete>
	
	<delete id="delete" parameterType="hyeri.dto.Gallery">
		DELETE gallery
		WHERE gallery_no = #{galleryNo }
	</delete>

	<select id="selectByKeyword" resultType="hyeri.dto.Gallery" parameterType="String">
		SELECT * FROM gallery
		WHERE gallery_title LIKE #{keywordInput }
			or gallery_content LIKE #{keywordInput }
		ORDER BY gallery_no DESC
	</select>
	
	<select id="selectCList" resultType="hyeri.dto.GComment" parameterType="hyeri.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, gu.* FROM (
		        SELECT
		            g.cm_no, g.cm_content, g.cm_date,
		            g.gallery_no, g.u_id AS guid, u.u_id AS uuid, u.u_nick
		        FROM g_comment g
		        INNER JOIN users u
		        ON g.u_id = u.u_id
		        ORDER BY g.gallery_no DESC
			)gu
		)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectGalleryNo" resultType="hyeri.dto.GTag" parameterType="int">
		SELECT tag_no, tag_name, gallery_no
		FROM g_tag
		WHERE gallery_no = #{galleryNo }
	</select>
	
	<select id="findLike" resultType="int">
		SELECT count(*) FROM gallery_like
		WHERE gallery_no = #{galleryNo } AND u_id = #{uId }
	</select>
	
	<select id="getLike" resultType="int" parameterType="int">
		SELECT count(like_check) FROM gallery_like
		WHERE gallery_no = #{galleryNo }
	</select>
	
	<insert id="likeUp">
		INSERT INTO gallery_like ( like_no, gallery_no, u_id, like_check )
		VALUES ( (SELECT * FROM ( SELECT max(like_no)+1 FROM gallery_like WHERE gallery_no = #{galleryNo } ) next), #{galleryNo }, #{uId }, 1)
	</insert>
	
	<update id="updateLike">
		UPDATE gallery
		SET gallery_like = (SELECT count(like_check) FROM gallery_like
			WHERE gallery_no = #{galleryNo })
		WHERE gallery_no = #{galleryNo }
	</update>
	
	<delete id="likeDown">
		DELETE FROM gallery_like
		WHERE gallery_no = #{galleryNo } AND u_id = #{uId }
	</delete>

</mapper>