<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyeri.dao.face.OrderDao">

	<insert id="addOrder" parameterType="hyeri.dto.AfterOrder">
		INSERT INTO after_order (
			ORDER_AFTER_NO, PAYMENT_AMOUNT, BUYER_EMAIL, BUYER_NAME
			, BUYER_PHONE, RECIEVER_NAME
			, BUYER_ADDRESS, BUYER_ADDRESS2, BUYER_ADDRESS3, POSTCODE
			, DELIVER_REQ, U_ID )
		VALUES ( after_order_seq.nextval, #{paymentAmount }, #{buyerEmail }, #{buyerName }
			, #{buyerPhone }, #{recieverName }
			, #{buyerAddress }, #{buyerAddress2 }, #{buyerAddress3 }, #{postcode }
			, #{deliverReq }, #{uId } )
	</insert>
	
	<insert id="addPUID" parameterType="String">
		INSERT INTO after_order ( perchant_uid )
		VALUES ( #{puid } )
	</insert>

</mapper>