<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="sharon.dao.face.LoginDao">

	<insert id="insert" parameterType="ydg.dto.Users">
		INSERT INTO Users (id,pw,email,phone)
		VALUES (#{uId },#{uPw },#{uEmail },#{uPhone })	
	</insert>

	<select id="selectCntByIdPW" resultType="int" parameterType="ydg.dto.Users">
		SELECT count(*) FROM Users
		WHERE u_id=#{uId } AND u_pw =#{uPw }
	</select>
	
	<select id="selectLoginById" resultType="ydg.dto.Users" parameterType="string">
		SELECT u_id, u_pw, u_name, u_gender, u_birth, u_email, u_phone, u_address, u_nick
		FROM Users
		WHERE u_id =#{uId }
	</select>
	
	<delete id="delete">
		DELETE FROM Users
		WHERE u_id=#{uId}
	
	</delete>
	
	<update id="update">
		UPDATE Users
		SET u_pw = #{uPw}, u_name=#{uName}, u_email = #{uEmail}, u_phone=#{uPhone},u_address=#{uAddress},u_nick=#{uNick}
		WHERE u_id=#{uId}
	</update>
	

</mapper>