@charset "UTF-8";

/* <style> @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito+Sans:wght@200&family=Raleway:wght@200&display=swap'); </style> */

.container {
	width: 1300px;
}

h1 {
	text-align: center; 
	font-weight: 300;
}

.bag-title {
	margin-top: 50px;
    margin-bottom: 30px;
}

section {
	margin: 0 auto;
}

.bag-wrap {
	float: left;
	width: 74%; 
}

.clear {
	clear: both;
}

table {
	border-top: 2px solid black;
}

th {
	border-bottom: 1px solid #E0E3DA;
	height: 68px;
	text-align: center;
	vertical-align: middle;
}

tr {
	border-bottom: 1px solid #eae7e7;
}

tr:last-child{
	border-bottom: 1px solid black;
}

td {
	text-align: center;
	vertical-align: middle;
	color: #333;
}

.prod {
	display: flex;
	align-items: center;
}

.thumbnail {
	width: 100px;
	height: 100px;
	margin: 20px;
}

.deleteBtn {
	border: 1px solid #E0E3DA;
	background: white;
	padding: 0 15px;
}

/* 좌측 하단 버튼 */
.bottom-btn {
	width: 180px;
	height: 50px;
	font-weight: 400;
	padding: 0 20px;
	border: 1px solid #333;
	border-radius: 0px;
}

#selectDeleteBtn {
	background: white;
	color: #7d7d7d;
}

#goto-cart {
	background: #7d7d7d;
	color: white;
	margin-left: 10px;
}

/* 우측 총 결제금액 섹션 */
.payment {
	float: right;
	width: 24%;
	height: 330px;
	background: #f2f2f2;
}

.payment h3 {
	height: 70px;
    padding-top: 27px;
    border-bottom: 1px solid #ababab;
    font-size: 18px;
    text-align: center;
}

.payment ul {
	padding: 0 20px;
}

.payment ul li {
	padding: 8px 0;
    font-size: 14px;
    list-style-type: none;
    color: #333;
}

.payment ul li p {
	float: right;
	width: 114px;
    text-align: right;
}

.payment ul li p .cntTtl {
	margin-right: 5px;
    font-size: 18px;
}

.payment ul li.total {
	margin-top: 20px;
    padding-top: 18px;
    border-top: 1px solid #d9d9d9;
}

.payment ul li p #ttlAmt {
	margin-right: 5px;
    font-size: 20px;
    color: #fa5500;
}

.payment .btn-order {
    width: 100%;
    height: 70px;
    background-color: #000;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
    margin-top: 10px;
}

/* 수량 div */
.each {
	width: 45px;
    height: 25px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    position: relative;
    padding-right: 18px;
}

.each button {
    width: 19px;
    height: 11px;
    background: url(/resources/img/arrow.png) 0 0 no-repeat;
    text-indent: -999em;
/*     overflow: hidden; */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.each .btn-up {
    border-bottom: 1px solid #dfdfdf;
    background-position: 7px -46px;
}

.each input {
	width: 23px;
    height: 23px;
    border-right: 1px solid #dfdfdf;
    border-left: none;
    border-top: none;
    border-bottom: none;
    font-size: 12px;
    text-align: center;
}

.each .btn-down {
    background-position: -43px -46px;
    top: auto;
    bottom: 0;
}

.qty-update {
	border: 1px solid #E0E3DA;
	background: white;
	font-size: 13px;
	color: #333;
 	padding: 0 10px; 
 	margin-top: 5px;
}

.each:after {
    display: block;
    clear: both;
    content: '';
}    